@model CharityApp.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<form asp-action="ForgotPassword" asp-controller="Account" method="post" class="form">
    <p class="title">Forgot Password</p>

    @if (TempData["Message"] != null)
    {
        <div class="text-green-600 mb-4">@TempData["Message"]</div>
    }

    <label>
        <input asp-for="Email" class="input" placeholder="Email" />
        <span asp-validation-for="Email" class="text-red-500"></span>
    </label>

    <button type="submit" class="form-btn">Send</button>
</form>


