@model CharityApp.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<form asp-action="ResetPassword" asp-controller="Account" method="post" class="form">
    <p class="title">Reset Your Password</p>

   
        <input type="hidden" asp-for="Token" />

        <div>
            <input asp-for="NewPassword" class="input" placeholder="New Password" type="password" />
            <span asp-validation-for="NewPassword" class="text-red-500"></span>
        </div>

        <div>
            <input asp-for="ConfirmPassword" class="input" placeholder="Confirm Password" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
        </div>

        <button type="submit" class="form-btn">Reset Password</button>
 </form>
